body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Sans-serif";
  margin: 0; }

div.container {
  padding: 30px 30px 30px 30px; }

#nav {
  box-shadow: 0 0 15px #AAAAAA;
  background-color: #FFFCF7;
  position: fixed;
  opacity: 0.9;
  height: 50px;
  width: 100%;
  z-index: 1;
  padding: 0;
  top: 0; }

  #nav ul {
    margin: 17px auto;
    width: 355px;
    padding: 0; }

    #nav li {
      padding: 17px 30px;
      display: inline; }

      #nav li a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        color: #444444;
        opacity: 1;
      }

#home-container {
  background-image: url("images/home-background.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
  margin-top: -50px; }

  img.logo {
    opacity: 1.0;
    position: relative;
    height: 45%;
    width: 45%;
    left: 55%;
    top: 15%;
  }

#about-container {
  background-color: #FFFCF7;
  padding: 50px 30px;
  min-height: 55vh;
  overflow: auto; }

  #about-container p {
    color: #444444; }

  div.left {
    border-right: 1px solid #444444;
    width: calc(60% - 40px);
    padding: 0 20px;
    float: left; }

    div.education {
      margin-bottom: 80px; }

      div.header {
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 18px;
        width: 150px;
        float: left; }

      div.main {
        width: calc(100% - 150px);
        display: inline-block; }

        div.entry {
          display: inline-block;
          margin-bottom: 40px;
          width: 100%;
          clear: left; }

        div.entry:last-child {
          margin-bottom: 0; }

          div.info {
            width: calc(100% - 120px);
            display: inline-block;
            margin-right: 20px;
            float: left; }

            div.info p {
              margin: 0; }

            p.title {
              font-weight: 700;
              font-size: 18px; }

            p.subtitle {
              font-style: italic;
              font-size: 16px; }

          div.dates {
            float: right;
            width: 100px; }

  div.right {
    width: calc(40% - 72px);
    padding: 0 20px 0 30px;
    float: right; }

    div.skill {
      margin-bottom: 10px;
      width: 100%;
      clear: left; }

#portfolio-container {
  background-image: url("images/projects-background.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 60px;
  min-height: 70vh; }

  #flip-card-nav {
    box-shadow: 0 0 15px #444444;
    background-color: #444444;
    margin: 0 auto 20px auto;
    max-width: 500px;
    padding: 10px; }

    #flip-card-nav ul {
      padding: 0; }

    #flip-card-nav li {
      text-transform: uppercase;
      display: inline-block;
      padding: 5px 15px;
      font-weight: 300; }

    #flip-card-nav a {
      text-decoration: none;
      letter-spacing: 2px;
      color: white; }

  div.flip-card-container {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 100%; }

    div.flip-card {
      box-shadow: 0 0 15px #444444;
      background-color: #444444;
      display: inline-block;
      vertical-align: bottom;
      padding: 20px;
      height: 150px;
      width: 250px;
      margin: 20px; }

      div.flip-card h1 {
        font-weight: 300;
        font-size: 1.4em;
        opacity: 0.7;
        color: white; }

      img.card-type {
        padding: 5px;
        height: 60px;
        opacity: 0.7; }

#contact-container {
  box-shadow: 0 0 15px #AAAAAA;
  background-color: #FFFCF7;
  text-align: center;
  position: fixed;
  padding: 10px;
  opacity: 0.9;
  height: 30px;
  width: 100%;
  z-index: 1;
  bottom: 0; }

  #contact-container div.copyright {
    position: absolute;
    font-weight: 300;
    color: #444444;
    bottom: 20px;
    right: 20px;
    padding: 0; }

  #contact-container img {
    margin-right: 10px;
    height: 30px;
    opacity: 0.7; }



/* tablet portrait and landscape */

@media screen and (min-width : 768px) and (max-width : 1024px) {

  #home-container {
    background-image: url("images/home-background-small.png"); }

    img.logo {
      margin: 0 auto;
      display: block;
      height: 75%;
      width: 75%;
      left: 0; }

  div.education div.main,
  div.experience div.main {
    width: auto; }

  div.skill.info {
    width: auto; }

  #portfolio-container {
    background-image: url("images/projects-background-small.png"); }
}

/* smartphone portrait and landscape */

@media screen and (max-width : 768px) {

  #home-container {
    background-image: url("images/home-background-small.png"); }

    img.logo {
      margin: 0 auto;
      display: block;
      height: 75%;
      width: 75%;
      left: 0; }

  #about-container div.about,
  #about-container div.header,
  #about-container div.main {
    display: block;
    padding: 0;
    width: 100%; }

  #about-container div.experience {
    text-align: left; }

  div.about.left {
    border-right: none; }

    div.education,
    div.experience {
      border-bottom: 1px solid #444444;
      padding-bottom: 25px;
      margin-bottom: 25px; }

      div.entry {
        margin-bottom: 30px; }

  #portfolio-container {
    background-image: url("images/projects-background-small.png"); }
}
