#contact-container {
  box-shadow: 0 0 15px #AAAAAA;
  background-color: #FFFCF7;
  text-align: center;
  position: fixed;
  padding: 10px;
  opacity: 0.9;
  height: 30px;
  width: 100%;
  z-index: 1;
  bottom: 0; }

  #contact-container div.copyright {
    position: absolute;
    font-weight: 300;
    color: #444444;
    bottom: 20px;
    right: 20px;
    padding: 0; }

  #contact-container img {
    margin-right: 10px;
    height: 30px;
    opacity: 0.7; }
