body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Sans-serif";
  margin: 0; }

div.container {
  padding: 30px 30px 30px 30px; }


/*  navigation  */

#nav {
  box-shadow: 0 0 15px #AAAAAA;
  background-color: #FFFCF7;
  position: fixed;
  opacity: 0.9;
  height: 50px;
  width: 100%;
  z-index: 1;
  padding: 0;
  top: 0; }

  #nav ul {
    margin: 17px auto;
    width: 355px;
    padding: 0; }

  #nav.subpage ul {
    margin: 17px auto;
    width: 105px;
    padding: 0; }

    #nav li {
      padding: 17px 30px;
      display: inline; }

      #nav li a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        color: #444444;
        opacity: 1; }


/* headings */

h1.modal.main {
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  margin-top: 30px;
  font-size: 16px; }

  h1.main.top {
    margin-top: 0; }


/* captions */

.my-slider p.caption {
  color: #444444;
  font-size: 12px;
  font-style: italic;
  text-align: center; }
