#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

div.modal-card {
  width: 90%;
  max-width: 600px;
  padding: 30px;
  display: none;
  border-radius: 3px;
  box-shadow: 0 0 15px #444444;
  background-color: #FFFCF7;
  fill: #AAAAAA; }

  div.modal-header {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    font-size: 18px; }

  div.modal-card p.subtitle {
    text-align: center; }

  div.modal-card p {
    text-align: left; }

  p.infographic {
    width: 70%;
    float: left; }

  img.infographic {
    float: left;
    height: 350px;
    margin-right: 20px;
    border: 1px solid #AAAAAA; }

  img.construction {
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 5px; }
