/* Fade in screen */

@keyframes fadeIn { from { top:-200px; opacity:0; } to { top: 500px; opacity:1; } }

.fade-in {
  width: 950px;
  margin: 0 auto;
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
  animation-delay: 0.5s; }


/* Close X */

div.return {
  text-align: right;
  margin-top: 50px; }

div.return a {
  font-size: 42px;
  color: #666666; }


/* Split Column */

div.info {
  justify-content: center;
  padding-top: 50px;
  flex-wrap: wrap;
  display: flex; }

div.left,
div.right {
  display: inline-block;
  margin-bottom: 25px;
  max-width: 100%;
  padding: 25px;
  width: 425px; }


/* Callouts */

div.big-point {
  background-color: #EEEEEE;
  text-align: center;
  padding: 45px;
  margin-bottom: 50px; }

p.goal {
  font-family: "Zilla Slab", "Times New Roman", serif;
  line-height: 36px;
  margin-bottom: 0;
  font-size: 24px; }


/* Timeline */

div.timeline {
  border-bottom: 2px solid #EEEEEE;
  padding-bottom: 50px;
  margin: 0 auto;
  display: block;
  width: 500px;
  max-width: 100%;
  overflow: hidden; }

div.timeline h2 {
  margin: 0 auto 20px auto;
  text-align: center;
  display: block;
  width: 90px; }

div.timeline div.months {
  text-align: right;
  font-weight: bold;
  float: left;
  width: 40%; }

div.timeline div.items {
  float: right;
  width: 55%; }


/* Image and Text Blocks */

div.image-right {
  justify-content: center;
  padding-top: 30px;
  flex-wrap: wrap;
  display: flex; }

div.text,
div.image {
  display: inline-block;
  max-width: 100%;
  padding: 25px;
  width: 425px; }

span.image-align {
  vertical-align: middle;
  display: inline-block;
  height: 600px; }

div.image img {
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  width: 99%; }

div.image img.double {
  margin-top: 50px; }

p.above-image {
  margin-bottom: 40px; }

div.full-image {
  margin-bottom: 40px; }

div.full-image img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  width: 600px; }


/* Full Width */

div.full {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  padding: 25px; }

div.full.margin {
  margin-top: 50px; }

div.full.prototypes {
  margin-top: 25px; }

div.proto-images {
  text-align: center; }

div.proto-images img {
  height: 300px;
  margin: 25px; }

div.project-details {
  font-family: "Zilla Slab", "Times New Roman", serif;
  text-align: center;
  font-size: 14px;
  color: #666666;
  margin: 20px 0; }

div.project-details.caption {
  margin-bottom: 16px; }

div.project-details.top {
  margin-bottom: 50px; }


/* Prototypes */

div.prototype {
  margin: 0 auto;
  width: 300px; }

iframe {
  border: 0; }


/* Image Gallery */

div.gallery-container {
  margin: 0 auto 50px auto;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  width: 1050px; }

div.image-gallery {
  border: 1px solid #666666;
  margin: 10px;
  width: 180px; }

div.image-gallery:hover {
  border: 1px solid #752C4A; }

div.image-gallery p.caption {
  margin: 10px; }

img.gallery-thumb {
  width: 180px; }


/* Spacer */

div.spacer {
  height: 50px; }
