/*  Specific border change  */

@media screen and (max-width: 1139px) {

  div.education {
    border-right: none;
    border-bottom: 1px solid #666666;
    padding-bottom: 60px;
  }
}


/*  Tablet Portrait & Landscape  */

@media screen and (min-width : 769px) and (max-width : 1099px) {

  div.fade-in {
    width: 500px;
    max-width: 100%; }

  div.education {
    border-right: none;
    border-bottom: 1px solid #666666;
    padding-bottom: 60px; }

  div.left, div.right,
  div.text, div.image,
  div.full {
    width: 100%;
    padding: 0; }

  div.big-point {
    padding: 35px 25px; }

  div.image-right {
    padding-top: 55px;
    padding-bottom: 30px; }

  div.image-right .text {
    margin-bottom: 30px; }

  div.image {
    margin-bottom: 60px; }

  div.image span.image-align {
    display: none; }

  div.image img.double {
    margin-top: 20px; }

  img.image-hide {
    display: none;
  }
}


/* Specific line splitting */

@media screen and (max-width : 820px) {
  p.goal br {
    display: none;
  }
}


/*  Smartphone Portrait and Landscape  */

@media screen and (max-width : 768px) {

  div.fade-in {
    width: 500px;
    max-width: 100%; }

  div.education {
    border-right: none;
    border-bottom: 1px solid #666666;
    padding-bottom: 60px; }

  div.left, div.right,
  div.text, div.image,
  div.full {
    width: 100%
    padding: 0; }

  div.big-point {
    padding: 35px 25px; }

  div.image-right .text {
    margin-bottom: 30px; }

  div.image {
    margin-bottom: 60px; }

  div.image span.image-align {
    display: none; }

  div.image img.double {
    margin-top: 20px; }

  div.full, div.big-point,
  div.gallery-container,
  div.quick-intro-inner {
    width: 500px;
    max-width: calc(100% - 50px); }

  div.full.prototypes {
    margin-bottom: 35px; }

  div.proto-images {
    display: none; }

  img.image-hide {
    display: none;
  }
}


/* Specific X change */

@media screen and (max-width : 550px) {

  div.return {
    text-align: center;
  }
}


/* Specific navigation change */

@media screen and (max-width : 390px) {

  header {
    height: auto; }

  nav {
    text-align: center;
  }
}
